.downArrow i{ font-size: 40px;}
.mob_header .btn-xs{ background: none;}
.fact-inner-img-wrap{ width: 140px;max-height: 110px;margin: 0px auto;overflow: hidden;}
.treding-tab ul li a{ display: block;}
.treding-tab ul{ margin-bottom: 0px;}
.treding-tab ul li a.active::after{ bottom: -6px;}
.treding-tab-content{ margin-top: 15px;}
.video-wrap{ height: 274px;}
.footer_left table{ width: 100%;}
.congratulate{ background: #000;}
.img_text{ position: static;margin-left: 0px;left: 0px;top: 0px;}

@media only screen and (max-width:992px) {
.btn-wrapper{ margin-top: 25px!important;}
.reg_text{ padding-left: 0px;}
.pre_reg{ border-right: 0px;}
/*.congratulate{ height: auto;}
.img_text{ margin-left: -183px; top:2px}
.cong-font{ font-size: 22px;}
.para-cont{ font-size: 12px;margin-bottom: 10px;}
.cong-font{ margin-bottom: 0px;}
.yellow-font-no{ font-size: 17px;}
*/
.banner_text{ bottom: 16px;font-size: 22px;}
.img_text{ margin-top: 20%;}
}

@media only screen and (max-width:767px) {
.toggle-light-box{ padding: 15px;}
.form_wrapper{ padding: 15px;}   
.mob_header{ padding-top: 0px;}
.off-canavas-img{ width: 90%;float: right;}
.treding-tab ul li .active{ border-radius: 0px;}
/*.cong-font{ font-size: 12px;line-height: 13px;margin-bottom: 0px;}
.para-cont{ font-size: 10px;margin-bottom: 3px;}
.yellow-font-no{ font-size: 11px;}
.img_text{ margin-left: -150px; top:4px}*/
.img_text {margin-top: 20%;}
.savemoney_banner_text{margin-left:-40%}
}

@media only screen and (max-width:640px) {
.led_info{ padding: 20px 60px;}
/*.cong-font{ font-size: 18px;line-height: 30px;}
.img_text{top:4px}
.para-cont{ font-size: 11px;}
.img_text{ margin-left: -160px;}*/
}

@media only screen and (max-width:480px) {
.led_info{ padding: 20px 20px;}
#main-carousel .owl-carousel .owl-controls .owl-nav .owl-prev, #main-carousel .owl-carousel .owl-controls .owl-nav .owl-next{ padding: 0 10px;}
#main-carousel .owl-theme .owl-controls .owl-nav [class*="owl-"], #main-carousel .owl-theme .owl-controls .owl-nav [class*="owl-"]{ line-height: 24px;}
.banner_text{ bottom: 7px;font-size: 11px;right: 9px;}
.mob_header{ padding: 5px 0;}
/*.img_text{top:50px}*/
}

@media only screen and (max-width:480px) {
/*.img_text{top:4px}*/
}